[submodule "account_budget_extra_mblz"]
	path = account_budget_extra_mblz
	url = git@github.com:MobilizeDevTeam/account_budget_extra_mblz.git
	branch = 14.0
[submodule "mblz_transvial"]
	path = mblz_transvial
	url = git@github.com:MobilizeDevTeam/mblz_transvial.git
	branch = main
[submodule "account_menu"]
	path = account_menu
	url = git@github.com:MobilizeDevTeam/account_menu.git
	branch = 14.0
[submodule "account_parent"]
	path = account_parent
	url = git@github.com:MobilizeDevTeam/account_parent.git
	branch = 14.0
[submodule "account_report_transmilenio"]
	path = account_report_transmilenio
	url = git@github.com:MobilizeDevTeam/account_report_transmilenio.git
	branch = 14.0
[submodule "account_report_invoice_mblz"]
	path = account_report_invoice_mblz
	url = git@github.com:MobilizeDevTeam/account_report_invoice_mblz.git
	branch = 14.0
[submodule "api_simple_layer"]
	path = api_simple_layer
	url = git@github.com:MobilizeDevTeam/api_simple_layer.git
	branch = 14.0
[submodule "clean_data"]
	path = clean_data
	url = git@github.com:MobilizeDevTeam/clean_data.git
	branch = 14.0
[submodule "ks_dashboard_ninja"]
	path = ks_dashboard_ninja
	url = git@github.com:MobilizeDevTeam/ks_dashboard_ninja.git
	branch = 14.0
[submodule "mblz_purchase_requirement"]
	path = mblz_purchase_requirement
	url = git@github.com:MobilizeDevTeam/mblz_purchase_requirement.git
	branch = 14.0
[submodule "report_excel"]
	path = report_excel
	url = git@github.com:MobilizeDevTeam/report_excel.git
	branch = 14.0
[submodule "third_trial_balance_mblz"]
	path = third_trial_balance_mblz
	url = git@github.com:MobilizeDevTeam/third_trial_balance_mblz.git
	branch = 14.0
[submodule "l10n_pe_mblz"]
	path = l10n_pe_mblz
	url = git@github.com:MobilizeDevTeam/l10n_pe_mblz.git
	branch = 14.0
[submodule "mblz_multi_level_approval"]
	path = mblz_multi_level_approval
	url = git@github.com:MobilizeDevTeam/mblz_multi_level_approval.git
	branch = 14.0
[submodule "purchase_subscription_mblz"]
	path = purchase_subscription_mblz
	url = git@github.com:MobilizeDevTeam/purchase_subscription_mblz.git
	branch = 14.0
